/* Import all stylesheets in current directory */
@import url("pages/header.css");
@import url("pages/main.css");
@import url("pages/footer.css");
@import url("fonts/fonts.css");
/* Media query for color scheme preference */
/* @media screen and (prefers-color-scheme: dark) {
  @import url("dark.css");
}
@media screen and (prefers-color-scheme: light) {
  @import url("light.css");
} */
@import url("dark.css");

/* Just general styling for everything*/

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Hero font */
.hero {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 2em;
    /* 2em  */
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: var(--clr-font-primary);
    line-height: 1.5;

    min-width: 100%;
    min-height: 100vh;

    /* To display content correctly*/
    display: grid;
    grid-template-areas: "header""main""footer";
    grid-template-rows: auto minmax(80vh, 1fr) auto;
    grid-template-columns: 1fr;
}

header, .header {
    grid-area: header;
}

main, .main {
    grid-area: main;
}

footer, .footer {
    grid-area: footer;
}

.error {
    color: var(--clr-font-accent);
    background-color: var(--clr-tint1);
}